<h1 style="font-weight: bolder;font-style: italic;color:indigo;text-align: center;">Student Details</h1>

<div class="row">
  <div class="col-lg-8 col-md-10 ml-auto mr-auto">
    <span><strong>Current Active Page = </strong>{{page}}</span>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-10 ml-auto mr-auto">
    <div class="float-right">
      <app-pagination [totalRecords]="collection.count" [recordsPerPage]="pageSize"
        (onPageChange)="pageChanged($event)"></app-pagination>
    </div>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th *ngIf="checkedCategoryList.includes('StudentId')">StudentId</th>
      <th *ngIf="checkedCategoryList.includes('FirstName')">FirstName</th>
      <th *ngIf="checkedCategoryList.includes('LastName')">LastName</th>
      <th *ngIf="checkedCategoryList.includes('BatchId')">BatchId</th>
      <th *ngIf="checkedCategoryList.includes('Gender')">Gender</th>
      <th>update</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of collection.data" (click)="go(d.studentId)">
      <td *ngIf="checkedCategoryList.includes('StudentId')">{{d.studentId}}</td>
      <td *ngIf="checkedCategoryList.includes('FirstName')">{{d.firstName}}</td>
      <td *ngIf="checkedCategoryList.includes('LastName')">{{d.lastName}}</td>
      <td *ngIf="checkedCategoryList.includes('BatchId')">{{d.batchId}}</td>
      <td *ngIf="checkedCategoryList.includes('Gender')">{{d.gender}}</td>
      <td><a [routerLink]="['/EditStudent/', d.studentId]"><input type="button" value="Update"></a></td>
      <td><input type="button" value="Remove" (click)="deleteStudentDetails(d.studentId); $event.stopPropagation()"></td>
    </tr>
  </tbody>
</table>
<br>
<div class="row">

  Items per page:
  
  
  <div>
    <div class="row">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" [(ngModel)]="pageSize"/>
       
      </div><br>

  <!-- <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
      {{ size }}
    </option>
  </select>
</div> -->


<div>
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by id" [(ngModel)]="searchKey" />
      <hr>
      <button class="btn btn-outline-secondary" type="button" (click)="showSearch()">
        Search
      </button>
    </div>
</div>

    <div>
      <div class="text-center mt-5">
        <div class="row">
          <div class="col-md-2">
            <ul class="list-group">
              <li class="list-group-item">
                <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1"
                  (change)="checkUncheckAll()" /> <strong>Select All / Unselect All</strong>
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of categoryList">
                <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                  (change)="onCheckboxSelect()" />
                {{item.value}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    