
<div class="center">
    
        
        <h2><b>Welcome to Student Administration</b></h2><br>
    
    
       <br>
       
       </div>
       
        
       
        <div class="row">
            <div class="col-xs-12">
                <a routerLink="/ShowStudentDetails" routerLinkActive="active"><button  class="btn" type="button">Show Student Details</button></a>
                <a routerLink="/AddStudentDetails" routerLinkActive="active"><button class="btn btn-success" type="button">Add Student</button></a>
                
            </div>
         </div>     
        
        
