
   
<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>



<img src="assets/images/Jyothi1.png" class="Center" width="100%" height="200" alt="Jyothi Engineering College">



<p style="font-style: italic;">Jyothi Engineering College is a Center of Excellence in Science & Technology founded by the Catholic Archdiocese of Thrissur situated in Cheruthuruthy, Thrissur.</p>
<div>
    <h2><span style="color: blue;">Vision</span></h2>
    <p>Creating eminent and ethical leaders through quality professional education with emphasis on holistic excellence.

    </p>
</div>

<div>
    <h2><span style="color: blue;">Mission</span></h2>
    <ul>
       <li>To emerge as an institution par excellence of global standards by imparting quality engineering and other professional programmes with state-of- the-art facilities.</li>

        <li>To equip the students with appropriate skills for a meaningful career in the global scenario.</li>
       
        <li>To inculcate ethical values among students and ignite their passion for holistic excellence through social initiatives.</li>
       
        <li>To participate in the development of society through technology incubation, entrepreneurship and industry interaction.</li>
    </ul>
</div>

